<!-- Start left section -->

  <!--Start section profile -->
  <section class="profile-option">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                      <div class="photo text-center">
                          <a href="profile.html"> <img src="../../../assets/img/profile.png" alt="" class="rounded-circle mb-2"></a>
                      </div>
                      <div class="name text-center">
                          <a href="profile.html">his name</a>
                      </div>
                  </div>
                  <ul class="list-group list-group-flush info-list text-center">
                      <li class="list-group-item">
                          <a href="settinginfo.html"> Edit profile</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <!--End section profile -->
  <!--Start section profile -->
  <section class="profile-option mt-4">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header bg-light">
                      Setting
                  </div>
                      <ul class="list-group">
                          <a href="setting.html"><li class="list-group-item"><i class="fa fa-fw fa-user"></i> Profile Setting</li></a>
                          <a href="skills.html"><li class="list-group-item"><i class="fa fa-fw fa-tasks"></i> My skills <span class="d-flex fa-pull-right" style="background-color: blue;color: white; ">have (number) skils</span></li></a>
                          <a href="#"><li class="list-group-item"><i class="fa fa-fw fa-comment"></i> My Answer</li></a>
                          <a href="#"><li class="list-group-item"><i class="fa fa-fw fa-bell"></i> Notification</li></a>
                      </ul>
              </div>
          </div>
      </div>
  </section>
  <!--End section profile -->
  <!-- Start section steps -->
  <section class="steps mt-4">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <ul class="card-header bg-white list-group list-group-flush info-list">
                      <li class="list-group-item">
                          <a href="#"> Step you should complete</a>
                      </li>
                  </ul>
              <div class="card-body">
                  <div class="contain-content">
                      <div class="content">
                          <ul class="list-unstyled checklist  text-meta ">
                              <li>
                                  <a href="#">
                                      <i class="text-delta fa fa-dot-circle"></i>
                                      <span class="step">verification your phone number</span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="text-delta fa fa-check-circle"></i>
                                      <span class="step">Add skills </span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="text-delta fa fa-check-circle" aria-hidden="true"></i>
                                      <span class="step">Add new work</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </section>
  <!-- End section steps -->
<!--End left section  -->
